* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}  

:root {
  font-size: 62.5%;
}

a {
    text-decoration: none;
  }

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

.page {
    
    max-width: 38.7rem;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    border-radius: .5rem;
  }

.logo {
    width: 100%;
    background: transparent linear-gradient(to right,#005d1f 0%,#2b9117 50%,#005d1f 100%) 0% 0% no-repeat padding-box;
    display: flex;
    border-radius: 0 0 10rem 10rem;
    padding: 1rem;
    
}

.logo img {
    width: 50%;
    margin: 0 auto;
 }

.perfil {
    display: flex;
    text-align: center;
    margin: 2rem auto;
    justify-content: space-around;
}

.foto {
  border: #277816 solid .4rem;
  border-radius: 50%;
  height: 10.5rem;
  width: 10.5rem;
}


.fotoperfil {
  width: 100%;
  border-radius: 50%;
  height: 100%;
  padding: .4rem;
}

.info h1 {
  font-size: 3rem;
  line-height: 4rem;
  color: #000000;
}

.info p {
  font-size: 1.8rem;
  line-height: 3rem;
  color: #000000;
}

.info a {
  color: #70026b;
}

button img {
  width: 50%;
}

.button {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

button {
  width: 15rem;
  border: none;
  background-color: #000000;
    
  border-radius: 10rem;
  cursor: pointer;
  transition: background 500ms;
    
  height: 5rem;
}

button:hover {
  opacity: 0.9;
}

.title {
  display: flex;
  justify-content: center;
  background: transparent linear-gradient(to right,#005d1f 0%,#2b9117 50%,#005d1f 100%) 0% 0% no-repeat padding-box;
  margin-bottom: 1.5rem;
}

.title h1 {
  line-height: 5rem;
  color:#FFFFFF
}

.container {
  
  padding: .5rem;
  max-width: 64rem;
  
  border: 5px solid #277816;
  border-radius: 2rem;
}

.gallery-wrapper {
  overflow-x: auto;
  height: 20rem;
}

.gallery {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
}

.gallery a img {
  height: 98%;
}

.gallery a {
  width: 20rem;
}

.gallery-wrapper::-webkit-scrollbar {
  display: none;
}

footer {
  width: 33rem;
  background: transparent linear-gradient(to right,#005d1f 0%,#277816 50%,#005d1f 100%) 0% 0% no-repeat padding-box;
}
